/************ Brand Colors **********/

$pure-white: #FFFFFF;

// Blues
$cobalt-0: #F8FDFF;
$cobalt-10: #CFDEFB;
$cobalt-20: #BBCCF9;
$cobalt-30: #8C9EFE;
$cobalt-40: #7490F2; 
$cobalt-50: #4268F5;
$cobalt-60: #001AFF;
$cobalt-70:  #2440AA;
$cobalt-80: #044292;


$azure: #EEFFFC;

// Greens
$seafoam-20: #DFFBF6; // DFFBF6
$seafoam-40: #7FE9C7;
$seafoam-60: #079483;


// Home Page
$homepage-header-text-color: #2E385A;
$homepage-subtitle-text-color: #5B7595;

$homepage-card-border-color: #A5ECD5; 
$homepage-card-bg-color: $azure;
$homepage-card-border-radius: 10px;
$homepage-card-text-color: #416485;
$homepage-card-icon-color: #416485;

$homepage-timeline-border-color: #A5ECD5;
$homepage-timeline-bg-color: $azure;
$homepage-timeline-text-color: $seafoam-60;

$homepage-about-consort-btn-bg-color: rgba($pure-white, 0.75);
$homepage-about-consort-btn-border-color: $cobalt-20; // based on mockup supposed to be #B1C3F8; this is closest
$homepage-about-consort-btn-icon-color: $cobalt-30;
$homepage-about-consort-text-color: $cobalt-70;
$homepage-about-consort-border-radius: 4px;