/************ Brand Colors **********/

$pure-white: #FFFFFF;

// Blue
$baby-20: #F1F9FF;

// Cobalt
$cobalt-0: #F8FDFF;
$cobalt-10: #CFDEFB;
$cobalt-20: #BBCCF9;
$cobalt-30: #8C9EFE;
$cobalt-40: #7490F2; 
$cobalt-50: #4268F5;
$cobalt-60: #001AFF;
$cobalt-70:  #2440AA;
$cobalt-80: #044292;


// Off White
$azure: #DFFBF6;
$porcelain: #E7F0F3;
$mercury: #E5E5E5;

// Greens
$seafoam-20: #DFFBF6;
$seafoam-40: #7FE9C7;
$seafoam-60: #079483;

// Slate
$slate-10: #F5F9FB;
$slate-20: #EDF3F6;
$slate-60: #5B7595;

// Gray
$gray-10: #F8F8F8;
$gray-20: #CAD0D7;
$gray-30: #9BA5B7;
$gray-70: #343741;
$carbon-gray: #5D5E63;



// Home Page
$homepage-background: url(/static/img/polygon-bg.png), linear-gradient(303deg, #CCF6FC 0.52%, #FFF 99.55%);
// $homepage-header-text-color: $cobalt-70;
// $homepage-subtitle-text-color: $cobalt-40;
$homepage-header-text-color: #2E385A;
$homepage-subtitle-text-color: #5B7595;

$homepage-card-border-color: #A5ECD5; 
$homepage-card-bg-color: $azure;
$homepage-card-border-radius: 10px;
$homepage-card-text-color: #416485;
$homepage-card-icon-color: #416485;

$homepage-timeline-border-color: #A4ECD5;
$homepage-timeline-bg-color: $azure;
$homepage-timeline-text-color: $seafoam-60;
$homepage-timeline-bg-color-inactive: #CDE4FF;

$homepage-about-consort-btn-bg-color: rgba($pure-white, 0.75);
$homepage-about-consort-btn-border-color: $cobalt-20; // based on mockup supposed to be #B1C3F8; this is closest
$homepage-about-consort-btn-icon-color: $cobalt-30;
$homepage-about-consort-text-color: $cobalt-70;
$homepage-about-consort-border-radius: 4px;

// Static Sections
$ss-title-background: url(/static/img/polygon-bg-header.svg), linear-gradient(303deg, rgb(229, 241, 254) 0.52%, #f7fdff 99.55%);