/**
* Styles related to visualizations
*/

.consortium-map {
    font-family: Inter;
    nav {
        font-weight: 400;
    }


    // Map styles 
    & > h1 {
        font-family: Inter;
        font-weight: 600;
        margin: none;
    }

    svg {
        text {
            font-family: Inter;
        }
    }
    
    .consortium-legend {
        background-color: #e3e3e3;
        position: absolute;
    }
    .consortium-tooltip {
        font-family: Inter;
        font-weight: 500;
        background-color: #e3e3e3;
        position: absolute; 
        opacity: 0;
    }
    .consortium-tooltip-wrapper {
        max-width: 220px;
        font-size: 14px;
        font-weight: 600;
    }
    .consortium-tooltip-content {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
    }
    .consortium-tooltip-header {
        font-family: Inter;
        font-weight: 600;
        font-size: 12px;
    }

    // Table styles
    table.table-striped {
        th {
            background-color: white; 
            font-weight: 600;
            text-align: left;
        }
        tbody {
            td {
                border: 1px solid lightgray;
                // font-family: Inter;
                text-align: left;
            }
            td.consortium-table-OC {
                font-weight: 600;
                font-size: 22px;
                background-color: #377eb8;
                cursor: default;
                color: #ffffff;
            }
            td.consortium-table-DAC {
                font-weight: 600;
                font-size: 22px;
                background-color: #e41a1c;
                cursor: default;
                color: #ffffff;
            }
            td.consortium-table-TPC {
                font-weight: 600;
                font-size: 22px;
                background-color: #984ea3;
                cursor: default;
                color: #ffffff;
            }
            td.consortium-table-GCC {
                font-size: 22px;
                background-color: #ff7f00;
                cursor: default;
                color: #ffffff;
            }
            td.consortium-table-TTD {
                font-weight: 600;
                font-size: 22px;
                background-color: #4daf4a;
                cursor: default;
                color: #ffffff;
            }
            td.consortium-table-header {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }
        }
    }
}




/* Styles for the Alluvial Plot */
.alluvial-container {
    font-family: Inter;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 100px 50px;
    
    nav {
        font-weight: 400;
    }

    .footnote {
        color: gray;
        font-size: .9rem;
        font-style: italic;
        // margin-left: 50px;
    }
    
    .alluvial-svg {
        overflow: visible;
    
        .header {
            font-family: Inter;
            font-weight: 400;
            font-size: 1.1rem;
        }
    }
    
    .node {
        &-header {
            fill: rgb(58, 58, 58);
            font-size: 0.9rem;
        }
    
        &:hover {
            cursor: pointer;
            
            text {
                font-weight: 600;
                fill: black;
    
            }
        }
    }
    
    .link {
        fill: none;
        stroke-opacity: .1;
            &:hover {
                stroke-opacity: .7;
            }
    
        &.selected {
            stroke-opacity: .7;
        }
    }
    
    
    /* Styles for the StackRow component */
    .stackrow {
        display: flex;
        height: 50px;
        border: none;
        color: white;
        padding-left: 20px;


        &[data-row-title="BCM"] {
            border-left: 12px solid hsla(185, 50%, 45%, 1);
            background-color: #F8F8F8;
        }
        &[data-row-title="Broad"] {
            border-left: 12px solid hsla(60, 70%, 44%, 1);
            background-color: white;
        }
        &[data-row-title="NYGC"] {
            border-left: 12px solid hsla(0, 0%, 50%, 1);
            background-color: #F8F8F8;
        }
        &[data-row-title="UW"] {
            border-left: 12px solid hsla(13, 68%, 60%, 1);
            background-color: white;
        }
        &[data-row-title="WashU"] {
            border-left: 12px solid hsla(10, 30%, 42%, 1);
            background-color: #F8F8F8;
        }
    
        &-svg {
            position: absolute;
            margin-left: 200px;
            overflow: visible;
    
            .column-label {
                transform-box: fill-box;
                transform: translate(10px,10px) rotate(30deg);
                margin-right: 25px;
    
                &:hover {
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    
        &-table {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 100px 50px 70px 50px;
            display: flex;
    
    
            &-labels {
                margin-top: 200px;
                width: 150px;
            }
    
            &-columns {
                display:flex;
                height: 100px;
                margin-top: 100px;
    
                .column {
                    position: relative;
                    &-label {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        height: 100%;
                        width: 50px;
                        color: #343741;
                        
                        & > p {
                            position: absolute;
                            transform: rotate(-60deg) translate(40px, -40px);
                            width: 250px;
                            height: 80px;
                            font-size: 1rem;
                        }
    
                        span {
                            transform-origin: left;
                            transform: rotate(-60deg) translate(17px, 17px);
                            width: max-content;
                            z-index: 2;
                            
                            &:hover {
                                cursor: pointer
                            }
                        }
                        
                        .icon {
                            margin: auto auto 8px auto;
                            color: gray;
    
                            &.selected {
                                color: black;
                            }
    
                            &:hover {
                                color: black;
                            }
    
                            &-sort-up {
                                display: flex;
                                &::before {
                                    margin-bottom: -8px;
                                }
                            }
    
                        }
                    }
    
                }
    
    
            }
        }
    
        &-label-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            background: none;
    
            &-primary {
                padding: 0;

                .stackrow-title {
                    font-weight: 400;
                    color: #343741;
                }
            }
    
            &-subrow {
                display: flex;
                flex-direction: column;
                text-align: end;
    
                .subrow {
                    height: 50px;
                    margin: auto 20px auto auto;
    
                    &-title {
                        line-height: 35px;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    
        
        &-column-container {
        }
        
        .icon {
            margin: auto 25px auto 0px;
        }
        
        &-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px;
            border-bottom: 1px solid #eee6;
    
            .subitems {
                height:100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                
                .stackrow-item {
                    margin-bottom: 5px;
                    
                }
            }
        }
    
        &-item {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            border-right: 1px solid rgba(238, 238, 238, 0.6);
    
            &:nth-child(odd) {
                background-color: #F8F8F8;
            }
    
            &-container {
                position: relative;
                height: 35px;
                width: 35px;
                background-color: #CBDDEA;
                border: 1px solid #B9CAD5;
                display: flex;
                justify-content: center;
                margin: auto;
                // border-radius: 2px;
    
                &:hover {
                    background-color: #b7cfda;
                }
    
            }
            
            &-popover-list {
                margin: auto;
    
                & > ul {
                    padding: 0;
                    list-style: none;
    
                    & > li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        width: 100%;
    
                        .data-generator {
                            font-weight: 700;
                        }
                    }
    
                }
            }
    
            &-value {
                color: #343741;
                margin: auto;
            }
    
            &.empty-label-row {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), transparent 99%);
                border-bottom: none;
                border-right: none;
            }
    
            &-detail-popover {
                position: absolute;
                height: 200px;
                width: 400px;
            }
        }
    
        &-title {
            font-size: 1rem;
            line-height: 35px;
            color: #343741;
        }
        
    }
    
    .stackrow-item-legend {
        display: flex;
        justify-content: center;
        // margin-top: 100px;
        .text {
            margin: auto 10px auto 10px;
            font-family: Inter;
        }
    
        .stackrow-item {
            background-color: transparent;
            border: none;
        }
    }
}


.popover {
    font-family: Inter;
    &-header {
        font-weight: 600;
        color: #343741;
    }

    &-body {
        font-weight: 400;
        color: #343741;

        ul {
            list-style: none;
            padding: 0;
        }
    }
}