/**
* Styles related to visualizations
*/


.consortium-legend {
    background-color: #e3e3e3;
    position: absolute; 
}
.consortium-tooltip {
    background-color: #e3e3e3;
    position: absolute; 
    opacity: 0;
}
.consortium-tooltip-wrapper {
    max-width: 200px;
    font-size: 12px;
}
.consortium-tooltip-content {
    font-size: 12px;
}
.consortium-tooltip-header {
    font-weight: bold;
    font-size: 10px;
}

table.table-striped {
    tbody {
        td.consortium-table-OC {
            font-weight: bold;
            font-size: 22px;
            background-color: #000000;
            cursor: default;
            color: #ffffff;
        }
        td.consortium-table-DAC {
            font-weight: bold;
            font-size: 22px;
            background-color: #ff0000;
            cursor: default;
            color: #ffffff;
        }
        td.consortium-table-TPC {
            font-weight: bold;
            font-size: 22px;
            background-color: #8000bf;
            cursor: default;
            color: #ffffff;
        }
        td.consortium-table-GCC {
            font-weight: bold;
            font-size: 22px;
            background-color: #FFC300;
            cursor: default;
            color: #ffffff;
        }
        td.consortium-table-TTD {
            font-weight: bold;
            font-size: 22px;
            background-color: #097969;
            cursor: default;
            color: #ffffff;
        }
        td.consortium-table-header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
    }
}



/* Styles for the Alluvial Plot */
div#container {
    height: 500px;
    width: 500px;
    background-color: gray;
    margin: 200px auto auto auto;
}

.alluvial-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 100px 50px;
}

.headers {
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;

    .header {
        width: 20%;
        &-left {
            // width: 350px;
            margin-left:0;
            text-align: left;
        }
        &-center {
            &-left {
                margin: auto;
                text-align: center;
            }
            &-right {
                margin: auto;
                text-align: center;
            }
        }
        &-right {
            // width: 350px;
            float: right;
            text-align: right;
        }
    }
}



.sankey-svg {
    overflow: visible;
}

.node {
    &:hover {
        cursor: pointer;
    }
}

.link {
    fill: none;
    stroke-opacity: .1;
        &:hover {
            stroke-opacity: .9;
        }

    &.selected {
        stroke-opacity: .9;
    }
}


/* Styles for the StackRow component */
.stackrow {
    display: flex;

    &-table {
        width: 100%;
        height: 100%;
        padding: 150px 50px 150px 50px;
        display: flex;


        &-labels {
            margin-top: 100px;

        }

        &-columns {
            display:flex;
            height: 100px;

            .column {
                position: relative;
                &-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    width: 50px;
                    
                    & > p {
                        position: absolute;
                        transform: rotate(-60deg) translate(40px, -40px);
                        width: 200px;
                        height: 50px;
                        font-size: 1rem;
                    }
                    
                    .icon {
                        margin: auto auto 8px auto;
                        color: gray;

                        &.selected {
                            color: black;
                        }

                        &:hover {
                            color: black;
                        }

                        &-sort-up {
                            display: flex;
                            &::before {
                                margin-bottom: -8px;
                            }
                        }

                    }
                }

            }


        }
    }

    &-label-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #eee6;
        width: 100%;

        &-primary {
            width: 100%;
            display: flex;
            height: 49px;
            // width: 200px;
            justify-content: space-between;
            padding-right: 20px;
        }

        &-subrow {
            display: flex;
            flex-direction: column;
            text-align: end;

            .subrow {
                height: 50px;
                margin: auto 20px auto auto;

                &-title {
                    line-height: 35px;
                    font-size: 0.8rem;
                }
            }
        }
    }

    
    &-column-container {
    }
    
    .icon {
        margin: auto 25px auto 0px;
    }
    
    &-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        border-bottom: 1px solid #eee6;

        .subitems {
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            
            .stackrow-item {
                margin-bottom: 5px;
                
            }
        }
    }

    &-item {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #eee6;
        border-right: 1px solid #eee6;
        
        &-container {
            position: relative;
            height: 35px;
            width: 35px;
            background-color: #3f883b;
            border: 1px solid #3a6338;
            display: flex;
            justify-content: center;
            margin: auto;
            // border-radius: 2px;

            &:hover {
                background-color: #3a6338;
            }

        }
        
        &-popover-list {
            margin: auto;

            & > ul {
                padding: 0;
                list-style: none;

                & > li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    width: 100%;

                    .data-generator {
                        font-weight: 700;
                    }
    
                    .assay-count {
                        
                    }
                }

            }
        }

        &-value {
            color: white;
            margin: auto;
        }

        &.empty-label-row {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), transparent 99%);
            border-bottom: none;
            border-right: none;
        }

        &-detail-popover {
            position: absolute;
            height: 200px;
            width: 400px;
        }
    }

    &-title {
        font-size: 1rem;
        line-height: 35px;
    }
    
}

.legend {
    &-stackrow-item {
        &-container {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            border: 1px solid #eee6;
            margin: auto auto auto 350px;
        }
            
        position: relative;
        height: 35px;
        width: 35px;
        color: white;
        background-color: #3f883b;
        border: 1px solid #3a6338;
        display: flex;
        justify-content: center;

        &:hover {
            background-color: #3a6338;
        }

    
    }
}